@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto&display=swap');

* {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

header {
    background-image: url('../assets/header.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
}

.navbar-social {
    display: flex;
    flex-direction: row;
    list-style: none;
}