@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Roboto&display=swap");

* {
  font-family: "Open Sans Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

header {
  background-image: url("/assets/header.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
}

.bg-secondary {
  background-color: #e8e8e8 !important;
}

article.card img {
  height: 300px;
  object-fit: cover;
}
